@import '~normalize.css';
@import '_mixins.scss';
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Jura:400,600&display=swap&subset=latin-ext');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: $dark-bg-color;
}

h1, h2, h3, h4, h5, h6, p, input, div {
  font-family: 'Jura', sans-serif;
  color: $palette4-color;
}

.btn {
  @include button-reset;
  /* default for <button>, but needed for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  padding: 0 1em;
  border: solid 1px transparent;
  border-radius: 2px;
  color: $palette4-color;
  background-color: $medium-bg-color;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover {
  color: $dark-bg-color;
  border-color: currentColor;
  background-color: $palette3-color;
}

/* Firefox: remove the inner border shown on focus */
.btn::-moz-focus-inner {
  border: none;
}

/* make sure we have a visible focus ring */
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px $palette2-color,
  0 0 0 0.5px $palette2-color;
}

/* hide focus style if not from keyboard navigation */
.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}

