@import "variables";

.steps {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, auto [step]);
  justify-items: center;
  align-items: start;
}

.step {
  box-shadow: inset -2px -5px 3px 0px rgba(0,0,0,0.28);
  opacity: 1;
  border-radius: 4px;
  padding: 5px;
  width: 20px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.step:nth-child(-n+4) {
  background-color: $palette1-color;
}

.step:nth-child(n+5) {
  background-color: $palette2-color;
}

.step:nth-child(n+9) {
  background-color: $palette3-color;
}

.step:nth-child(n+13) {
  background-color: $palette4-color;
}

.step-led-ring {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
  pointer-events: none;
}

.step-led-dim {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  background-color: rgb(87, 0, 0);
}

.step-led-light {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  background-color: rgb(255, 40, 50);
  transition: opacity 0.01s ease 0s;
  opacity: 0;
}

.step-led-light.s1 {
  opacity: 0.7;
}

.step-led-light.active {
  opacity: 1;
}
