.tracks {
  margin: auto;
  width: 80%;
  max-width: 800px;
}

.control {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.control-group {
  vertical-align: top;
}

.btn {
  min-width: 120px;
  margin-left: 5px;
}

.badge {
  vertical-align: top;
  margin-bottom: 5px;
}
