<div class="track-edit" *ngIf="track">
  <h2 class="badge">{{track.filename.replace('.mp3', '')}}</h2>
  <div class="control">
    <div class="control-item">
      <app-slider
        [value]="track.inputgain?.gain.value"
        [class]="'track-vol-slider'"
        [id]="track.id + 'vol'"
        [label]="'Volume'"
        [step]=0.01
        [min]=0
        [max]=1
        (sliderEvent)="setVolume(track, $event)">
      </app-slider>
      <app-slider
        [value]="track.stereopanner?.pan.value"
        [class]="'track-pan-slider'"
        [label]="'Pan'"
        [id]="track.id + 'pan'"
        [step]=0.01
        [min]=-1
        [max]=1
        (sliderEvent)="setPan(track, $event)">
      </app-slider>
    </div>
    <div class="control-item">
      <form [formGroup]="trackEditForm">
        <select formControlName="sampleSelect" (change)="setSample()">
          <option [value]="sample"
                  *ngFor="let sample of samples">
            {{sample.replace('.wav', '')}}
          </option>
        </select>
      </form>
    </div>
  </div>
  <app-steps
    [track]="track"
    [currentStep]="currentStep"
    (stepsEvent)="onStepToggle(track,$event.step,$event.i)"
  ></app-steps>
  <div class="track-edit-nav">
    <button class="btn" (click)="goBack()">go back</button>
  </div>

</div>
