<div class="control">
  <div class="control-group">
    <button class="btn control-group" (click)="play()">Play</button>
    <button class="btn control-group" (click)="stop()">Stop</button>

  </div>
  <div class="control-group">
    <app-slider
      [value]="tempo"
      [class]="'master-tempo-slider'"
      [label]="'Tempo'"
      [id]="'tempo'"
      [step]=1
      [min]=30
      [max]=250
      (sliderEvent)="setTempo($event)">
    </app-slider>
    <app-slider
      [value]="volume"
      [class]="'master-volume-slider'"
      [label]="'Volume'"
      [id]="'volume'"
      [step]=0.01
      [min]=0
      [max]=1
      (sliderEvent)="setVolume($event)">
    </app-slider>
  </div>
</div>
<div>
  <button class="btn control-group" (click)="download()">Download</button>
  <input
    #fileInput
    type="file"
    [multiple]="false"
    (change)="upload( fileInput.files ) ; fileInput.value = null;"/>
</div>
